body {
    min-width: 100%;
    min-height: 100%;
    font-family: sans-serif;

}
#header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.week {
    display: flex;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
}

.day {
    width: 90%;
    height: 100%;
    display: flex;
    scroll-snap-align: start;
    margin: 0 10%;
}